﻿    <table style='font-family:verdana;font-size:80%;' width='{21}' border='0' cellspacing='1' cellpadding='1'>
        <tr>
            <td colspan='4'>========================================</td>
        </tr>
        <tr>
            <td colspan='4'>Yes Finance Email Loan Remittance Advice</td>            
        </tr>
        <tr>
            <td colspan='4'>========================================</td>
        </tr>
        <tr>
            <td width='50%'>{0}</td>
            <td width='16%'>&nbsp;</td>
            <td width='16%'>&nbsp;</td>
            <td width='16%'>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>{1}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td style='font-weight: bold;text-decoration: underline;'>Payout Summary and Advice</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Loan Contract number: {2}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Loan Name: {3}</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Cash Price</td>
            <td>{4:C2}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Additional Advances <br />(Including Dealer Warranties)</td>
            <td>{7:C2}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Less Trade-in</td>
            <td>{26:C2}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Less Deposit</td>
            <td>{5:C2}</td>
            <td>{6:C2}</td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Brokerage</td>
            <td>{22:C2}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Protecta Product Margin</td>
            <td>{8:C2}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Interest Commission</td>
            <td>{9:C2}</td>
            <td>{10:C2}</td>
            <td>{11:C2}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Less</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp; &nbsp; Loan Retention ({24:N2}%)</td>
            <td>{12:C2}</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp; &nbsp; Commission Retention ({25:N2}%)</td>
            <td>{13:C2}</td>
            <td>{14:C2}</td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Payouts</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp; &nbsp; {15} Bank Account</td>
            <td></td>
            <td>{16:C2}</td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp; &nbsp; {15} Commission Account</td>
            <td></td>
            <td>{23:C2}</td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp; &nbsp; {17} Retention Account</td>
            <td></td>
            <td>{18:C2}</td>
            <td>{19:C2}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan='4' align='center'> __________________________________________________________________ </td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan='4' align='center'><small>This banking transaction will be processed overnight <br/> to your nominated Bank Account on file with Yes Finance Limited</small></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan='4'>{20}</td>           
        </tr>
    </table>